* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.memory-container {
  background-color: white; /* Verde brillante */
  color: black;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  padding: 20px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  height: 550px;
}
.memory-container h4 {
  margin-bottom: 30px;
}
.content {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dir img {
  margin-left: 10px;
}
.datos img {
  margin-right: 10px;
}
table,
td,
th {
  place-items: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em 0.5em;
  text-align: center;
  color: black;
}

thead tr {
  background: #01091b;
  /* linear-gradient(
    to left top,
    rgb(130, 213, 246),
    rgb(55, 139, 254) 
  );*/
}
th {
  color: white;
}

tbody th {
  background-color: #e7efff;
}

td {
  background: linear-gradient(to left top, #caf0ff, #82d5f6);
}

td:nth-child(even) {
  background: #f7faff;
}
