/* Mcontainer.css */
.memory-container {
  background-color: #1E7C65; /* Nuevo color */
  color: white; /* Texto blanco para contraste */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  padding: 20px;
  max-width: 500px;
  margin: 20px auto; /* Espacio entre la memoria y los botones */
  text-align: center;
  height: 550px;
}

.memory-container h4 {
  margin-bottom: 30px;
}

.content {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dir img,
.datos img {
  margin: 10px;
}

table,
td,
th {
  place-items: center;
  border: 1px solid #305B50; /* Nuevo color */
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em 0.5em;
  text-align: center;
  color: white; /* Texto blanco para contraste */
}

thead tr {
  background: #305B50; /* Nuevo color */
}

th {
  color: white;
}

tbody th {
  background-color: #1E7C65; /* Nuevo color */
}

td {
  background: #305B50; /* Nuevo color */
}

td:nth-child(even) {
  background: #1E7C65; /* Nuevo color */
}