/* Mcontainer.css */
.memory-container {
  background-color: #85aab0; /* Nuevo color */
  color: black; /* Texto blanco para contraste */
  border-radius: 20px;
 /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); Quito la sombra*/
  padding: 20px;
  max-width: 500px;
  margin: 20px auto; /* Espacio entre la memoria y los botones */
  text-align: center;
  
  height: 550px;
}

.memory-container h4 {
  margin-bottom: 30px;
  font-size: 20px;
}

.content {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dir img,
.datos img {
  margin: 10px;
}

table,
td,
th {
  place-items: center;
  border: 2px solid #85aab0; /* Nuevo color */
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em 0.5em;
  text-align: center;
  color: black; /* Texto blanco para contraste */
}

thead tr {
  background: #87758f; /* Nuevo color */
}

/*Texto de valores*/
th {
  color: white;
}

tbody th {
  background-color: #837b86; /* Nuevo color */
}

td {
  background: #e3edd2; /* Nuevo color */
}

td:nth-child(even) {
  background: #e3edd2; /* Nuevo color */
}