/* UControl.css */
.separador {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  color: white; /* Texto blanco para contraste */
  align-items: flex-end;
  justify-content: space-evenly;
  height: 60%;
  width: 500px;
  max-width: 500px;
  text-align: center;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control p {
  margin-bottom: 10px;
  color: white; /* Texto blanco para contraste */
}

.decoder {
  color: white; /* Texto blanco para contraste */
  background-color: #305B50; /* Nuevo color */
  border: 1px solid #1E7C65; /* Nuevo color */
  width: 80px;
  height: 80px;
  max-width: 100px;
  margin: 20px auto;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iluminar {
  animation: iluminar 3s ease-in-out;
}

@keyframes iluminar {
  0% {
    background-color: #1E7C65; /* Nuevo color */
  }
  100% {
    background-color: transparent;
  }
}