/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

/* Contenedor para UC y ALU */
.procesador {
  width: 100%;
  display: flex;
  flex-direction: row; /* UC y ALU en la misma fila */
  justify-content: space-around; /* Espacio entre UC y ALU */
  align-items: flex-start; /* Alineación al inicio */
  margin-bottom: 20px; /* Espacio entre UC/ALU y la memoria */
}

.procesador2 {
  width: 100%;
  display: flex;
  flex-direction: row; /* UC y ALU en la misma fila */
  justify-content: space-around; /* Espacio entre UC y ALU */
  align-items: flex-start; /* Alineación al inicio */
  margin-bottom: 20px; /* Espacio entre UC/ALU y la memoria */
}

/* Contenedor para Memoria y botones */
.memory {
  width: 100%;
  display: flex;
  flex-direction: column; /* Memoria y botones en columna */
  align-items: center; /* Centrado horizontal */
  gap: 20px; /* Espacio entre Memoria y botones */
}

/* Estilos para los botones */
.buts {
  display: flex;
  justify-content: center; /* Centrar botones horizontalmente */
  gap: 20px; /* Espacio entre botones */
}

.next,
.restart {
  margin: 10px;
  background-color: #87758f; /* Nuevo color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.next:hover,
.restart:hover {
  background-color: #87758f; /* Nuevo color */
}